@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display'), url('../fonts/sf-ui-display-regular.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display'), url('../fonts/sf-ui-display-semibold.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display'), url('../fonts/sf-ui-display-bold.woff') format('woff');
}
