$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);
$link: rgb(1, 188, 214);
$title-line: linear-gradient(270deg, rgba(203, 223, 32, 1) 0%, rgba(72, 176, 73, 1) 100%);
$stage-title: rgb(87, 87, 87);
$stage-text: rgb(57, 57, 57);
$stage-bg-1: rgba(239, 245, 189, 0.2);
$stage-bg-2: rgb(243, 249, 230);
$stage-bg-3: rgb(239, 248, 231);
$stage-bg-4: rgb(234, 246, 233);
